@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");


/* These are utility border classes for debugging layout issues */
.yb {
  border: solid 1px yellow;
}
.pb {
  border: solid 1px pink;
}
.lb {
  border: solid 1px lime;
}
.rb {
  border: solid 1px red;
}